openapi: 3.2.0
info:
  description: Types used across the APIs
  title: CarbonHub Type Metadata API
  version: 1.0.0
servers:
- url: https://api.validere.io
security:
- Staging: []
- Integration: []
- Local: []
tags:
- description: Types used across the APIs
  name: Type Metadata
paths:
  /app/v1/custom_attribute_data_types:
    get:
      description: Returns the list of data types that custom attributes support
      operationId: list_custom_attribute_data_types
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttributeDataTypeList'
          description: successful operation
      summary: List Custom Attribute Data Types
      tags:
      - Type Metadata
  /app/v1/custom_attribute_entities:
    get:
      description: Returns the list of entity types that support custom attributes
      operationId: list_custom_attribute_entities
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttributeEntityTypeList'
          description: successful operation
      summary: List Custom Attribute Entity Types
      tags:
      - Type Metadata
  /app/v1/flow_types:
    get:
      description: Returns the list of flow types
      operationId: list_flow_types
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Flow Types
      tags:
      - Type Metadata
  /app/v1/product_types:
    get:
      description: Returns the list of product types
      operationId: list_product_types
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Product Types
      tags:
      - Type Metadata
  /app/v1/product_categories:
    get:
      description: Returns the list of product categories
      operationId: list_product_categories
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Product Categories
      tags:
      - Type Metadata
  /app/v1/event_statuses:
    get:
      description: Returns the list of event statuses
      operationId: list_event_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Event Statuses
      tags:
      - Type Metadata
  /app/v1/facility_types:
    get:
      description: Returns the list of facility types
      operationId: list_facility_types
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Facility Types
      tags:
      - Type Metadata
  /app/v1/facility_statuses:
    get:
      description: Returns the list of facility statuses
      operationId: list_facility_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List Facility Statuses
      tags:
      - Type Metadata
  /app/v1/industry_segments:
    get:
      description: Returns the list of industry segments based on the US emission spreadsheet
      operationId: list_industry_segment
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeNamePair'
          description: successful operation
      summary: List Industry Segment
      tags:
      - Type Metadata
  /app/v1/workflow_template_statuses:
    get:
      description: Returns the list of workflow template statuses
      operationId: list_workflow_template_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List workflow template statuses
      tags:
      - Type Metadata
  /app/v1/workflow_statuses:
    get:
      description: Returns the list of workflow statuses
      operationId: list_workflow_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List workflow statuses
      tags:
      - Type Metadata
  /app/v1/workflow_task_statuses:
    get:
      description: Returns the list of workflow task statuses
      operationId: list_workflow_task_statuses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnumIdNamePairList'
          description: successful operation
      summary: List workflow task statuses
      tags:
      - Type Metadata
  /type_metadata/transaction_states:
    get:
      tags:
      - Type Metadata
      summary: List All Transaction States
      description: Lists all transaction states.
      operationId: list_all_transaction_states_type_metadata_transaction_states_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeMetadataResponse'
              example:
                meta:
                  type: TypeMetadata
                  total: 1
                data:
                - id: string
      security:
      - HTTPBearer: []
      - APIKeyHeader: []
  /type_metadata/transaction_statuses:
    get:
      tags:
      - Type Metadata
      summary: List All Transaction Statuses
      description: Lists all transaction statuses.
      operationId: list_all_transaction_statuses_type_metadata_transaction_statuses_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeMetadataResponse'
              example:
                meta:
                  type: TypeMetadata
                  total: 1
                data:
                - id: string
      security:
      - HTTPBearer: []
      - APIKeyHeader: []
  /type_metadata/transaction_steps:
    get:
      tags:
      - Type Metadata
      summary: List All Transaction Steps
      description: Lists all transaction steps.
      operationId: list_all_transaction_steps_type_metadata_transaction_steps_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeMetadataResponse'
              example:
                meta:
                  type: TypeMetadata
                  total: 1
                data:
                - id: string
      security:
      - HTTPBearer: []
      - APIKeyHeader: []
  /type_metadata/transaction_errors:
    get:
      tags:
      - Type Metadata
      summary: List All Transaction Errors
      description: Lists all transaction errors.
      operationId: list_all_transaction_errors_type_metadata_transaction_errors_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeMetadataResponse'
              example:
                meta:
                  type: TypeMetadata
                  total: 1
                data:
                - id: string
      security:
      - HTTPBearer: []
      - APIKeyHeader: []
components:
  schemas:
    CustomAttributeDataTypeList:
      items:
        $ref: '#/components/schemas/CustomAttributeDataType'
      type: array
    AttributeTypes:
      type: string
      enum:
      - number
      - string
      - geo_point
      - boolean
      - integer
      - pick-list
      - multi-pick-list
      - number-array
      - lookup
      - date
      - date-time
      - file
    CustomAttributeEntityTypeList:
      items:
        $ref: '#/components/schemas/CustomAttributeEntityType'
      type: array
    CustomAttributeDataType:
      properties:
        id:
          $ref: '#/components/schemas/AttributeTypes'
        name:
          type: string
      type: object
    EnumIdNamePairList:
      type: array
      items:
        properties:
          id:
            type: string
            description: enum value
          name:
            type: string
            description: display name
    CodeNamePair:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
    schemas-CustomAttributeEntityType:
      type: string
      enum:
      - equipment
      - device
      - facility
      - flow
      - asset_group
    CustomAttributeEntityType:
      properties:
        id:
          $ref: '#/components/schemas/schemas-CustomAttributeEntityType'
        name:
          type: string
      type: object
    TypeMetadataResponse:
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Data
      type: object
      required:
      - meta
      - data
      title: TypeMetadataResponse
      description: TypeMetadata response envelope
    ResponseMeta:
      properties:
        type:
          type: string
          title: Type
        transaction_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Transaction Id
        info:
          anyOf:
          - type: string
          - type: 'null'
          title: Info
        total:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total
      type: object
      required:
      - type
      title: ResponseMeta
      description: Standard response envelope meta object
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
