openapi: 3.2.0
info:
  description: Charts
  title: CarbonHub Charts API
  version: 1.0.0
servers:
- url: https://api.validere.io
security:
- Staging: []
- Integration: []
- Local: []
tags:
- description: Charts
  name: Charts
paths:
  /app/v1/charts:
    post:
      operationId: create_chart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChartCreate'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
          description: A successful operation
      summary: Create a chart
      tags:
      - Charts
  /app/v1/charts/{id}:
    delete:
      operationId: delete_chart
      parameters:
      - $ref: '#/components/parameters/ChartId'
      responses:
        '200':
          description: A successful operation
      summary: Delete a chart
      tags:
      - Charts
    get:
      operationId: get_chart
      parameters:
      - $ref: '#/components/parameters/ChartId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
          description: A successful operation
      summary: Get a chart
      tags:
      - Charts
    put:
      operationId: put_chart
      parameters:
      - $ref: '#/components/parameters/ChartId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChartUpdate'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
          description: A successful operation
      summary: Update a Chart
      tags:
      - Charts
components:
  schemas:
    ChartCreate:
      properties:
        dashboard_id:
          type: string
          format: uuid
        json:
          type: object
        name:
          example: 'Chart #1'
          type: string
      type: object
    ChartUpdate:
      properties:
        json:
          type: object
        name:
          example: 'Chart #1'
          type: string
      type: object
    Chart:
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          format: uuid
          type: string
        dashboard_id:
          format: uuid
          type: string
        id:
          format: uuid
          type: string
        json:
          type: object
        name:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
  parameters:
    ChartId:
      description: Chart ID
      in: path
      name: id
      required: true
      schema:
        format: uuid
        type: string
