{
  "openapi": "3.0.1",
  "info": {
    "description": "",
    "title": "CarbonHub API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.validere.io"
    }
  ],
  "tags": [
    {
      "description": "Activity Log",
      "name": "activities"
    },
    {
      "description": "Asset Groups",
      "name": "asset_groups"
    },
    {
      "description": "Calculator Results",
      "name": "calculator_results"
    },
    {
      "description": "Charts",
      "name": "charts"
    },
    {
      "description": "Comments",
      "name": "comments"
    },
    {
      "description": "Company Feature Flags",
      "name": "company_feature_flags"
    },
    {
      "description": "Credit Owners",
      "name": "credit_owner"
    },
    {
      "description": "Company <> Equipment Type Groups",
      "name": "company_equipment_type_groups"
    },
    {
      "description": "Company Unit Configuration",
      "name": "company_unit_config"
    },
    {
      "description": "Company",
      "name": "company"
    },
    {
      "description": "Manage Custom Attribute Definitions",
      "name": "custom_attribute_definition"
    },
    {
      "description": "Dashboards",
      "name": "dashboards"
    },
    {
      "description": "Manage Device Types",
      "name": "device_types"
    },
    {
      "description": "Manage Devices",
      "name": "devices"
    },
    {
      "description": "Default Record Value Configurations",
      "name": "default_record_value_configuration"
    },
    {
      "description": "Emissions Aggregation",
      "name": "emissions"
    },
    {
      "description": "Emission Calculator",
      "name": "emissions_calculator"
    },
    {
      "description": "Manage Equipment",
      "name": "equipment"
    },
    {
      "description": "Equipment Emissions",
      "name": "equipment_emissions"
    },
    {
      "description": "Company specific equipment type defaults",
      "name": "equipment_type_defaults"
    },
    {
      "description": "Manage Equipment Types",
      "name": "equipment_types"
    },
    {
      "description": "Estimation Methods",
      "name": "estimation_methods"
    },
    {
      "description": "Estimation Methods Default Records",
      "name": "estimation_methods_default_records"
    },
    {
      "description": "Event Categories",
      "name": "event_categories"
    },
    {
      "description": "Event Schemas",
      "name": "event_schemas"
    },
    {
      "description": "Emission Events",
      "name": "events"
    },
    {
      "description": "Manage Facilities",
      "name": "facilities"
    },
    {
      "description": "Feature Flags",
      "name": "feature_flags"
    },
    {
      "description": "Manage Flows",
      "name": "flows"
    },
    {
      "description": "Form Categories",
      "name": "form_categories"
    },
    {
      "description": "Form Schemas",
      "name": "form_schemas"
    },
    {
      "description": "Form Submissions",
      "name": "form_submissions"
    },
    {
      "description": "Bulk Job status",
      "name": "job"
    },
    {
      "description": "Manage Group Categories",
      "name": "group_categories"
    },
    {
      "description": "Ledger",
      "name": "ledger"
    },
    {
      "description": "Manage Measurement series",
      "name": "measurement_series"
    },
    {
      "description": "Manage Measurement Types",
      "name": "measurement_types"
    },
    {
      "description": "Manage Measurements",
      "name": "measurements"
    },
    {
      "description": "Manage Networks",
      "name": "networks"
    },
    {
      "description": "Reports",
      "name": "reports"
    },
    {
      "description": "Permission",
      "name": "permissions"
    },
    {
      "description": "Project Groups",
      "name": "project_group"
    },
    {
      "description": "Manage Records",
      "name": "records"
    },
    {
      "description": "Reporting Groups",
      "name": "reporting_groups"
    },
    {
      "description": "Roles",
      "name": "roles"
    },
    {
      "description": "Types used across the APIs",
      "name": "type_metadata"
    },
    {
      "description": "User",
      "name": "users"
    },
    {
      "description": "User Unit Configuration",
      "name": "user_unit_config"
    },
    {
      "description": "Manage User Groups",
      "name": "user_groups"
    },
    {
      "description": "Workflow Categories",
      "name": "workflow_categories"
    },
    {
      "description": "Workflow Templates",
      "name": "workflow_templates"
    },
    {
      "description": "Workflow",
      "name": "workflows"
    },
    {
      "description": "Workflow Tasks",
      "name": "workflow_tasks"
    },
    {
      "description": "Templated Configurations",
      "name": "templated_configurations"
    },
    {
      "description": "Assets",
      "name": "assets"
    }
  ],
  "security": [
    {
      "Staging": []
    },
    {
      "Integration": []
    },
    {
      "Local": []
    }
  ],
  "paths": {
    "/app/v1/activities/search": {
      "post": {
        "operationId": "search_activities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/ActivitySort"
                  },
                  {
                    "$ref": "#/components/schemas/ActivityFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActivityList"
                }
              }
            },
            "description": "Successfully operation"
          }
        },
        "summary": "Search and list Activities",
        "tags": [
          "activities"
        ]
      }
    },
    "/app/v1/activities/{resource_type}/search": {
      "post": {
        "operationId": "search_activities_resource_type",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/ActivitySort"
                  },
                  {
                    "$ref": "#/components/schemas/ActivityFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedActivityList"
                }
              }
            },
            "description": "Successfully operation"
          }
        },
        "summary": "Search and list Activities for a resource type",
        "tags": [
          "activities"
        ]
      }
    },
    "/app/v1/asset_groups": {
      "post": {
        "operationId": "create_asset_group",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetGroupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroupWithAssets"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create an asset group",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v2/asset_groups": {
      "post": {
        "operationId": "create_asset_group_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetGroupCreateV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroupWithAssets"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create an asset group",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v1/asset_groups/{id}": {
      "get": {
        "operationId": "get_asset_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/Period"
          },
          {
            "$ref": "#/components/parameters/AssetGroupId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroupWithAssets"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get an asset group",
        "tags": [
          "asset_groups"
        ]
      },
      "put": {
        "operationId": "put_asset_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetGroupId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetGroupUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroup"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update an Asset Group",
        "tags": [
          "asset_groups"
        ]
      },
      "delete": {
        "operationId": "delete_asset_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete an asset group",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v1/asset_groups/{id}/asset": {
      "put": {
        "operationId": "update_asset_group_assets",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetGroupId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroupAssetsUpdate"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update all the assets in an asset group.",
        "description": "Update all the assets in an asset group. Also updates estimation methods and default calculator input records that reference these AssetGroupAssets.",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v1/asset_groups/{id}/asset/{asset_id}": {
      "put": {
        "operationId": "add_asset_to_asset_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetGroupId"
          },
          {
            "$ref": "#/components/parameters/AssetId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_prorated": {
                    "type": "boolean"
                  },
                  "default_values": {
                    "$ref": "#/components/schemas/CalculatorInputs",
                    "example": {
                      "volume": {
                        "value": 5,
                        "unit": "e3m3",
                        "measurement_type": "volume",
                        "measurement_quantity": "volume"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetGroupAsset"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Add an asset to an asset group",
        "tags": [
          "asset_groups"
        ]
      },
      "delete": {
        "operationId": "remove_asset_to_asset_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssetGroupId"
          },
          {
            "$ref": "#/components/parameters/AssetId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Remove an asset to an asset group",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v1/asset_groups/search": {
      "post": {
        "operationId": "search_asset_groups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/AssetGroupSort"
                  },
                  {
                    "$ref": "#/components/schemas/AssetGroupFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedAssetGroupWithAssetsList"
                }
              }
            },
            "description": "Successfully something"
          }
        },
        "summary": "Search and list Asset Groups",
        "tags": [
          "asset_groups"
        ]
      }
    },
    "/app/v1/calculator_results": {
      "post": {
        "operationId": "calculator_results",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/CalculatorResultSort"
                  },
                  {
                    "$ref": "#/components/schemas/CalculatorResultFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/XLSXResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedAggregatedCalculatorResults"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Search and aggregate Calculator Result",
        "tags": [
          "calculator_results"
        ]
      }
    },
    "/app/v1/calculator_results/export": {
      "post": {
        "operationId": "export_calculator_results",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CalculatorResultSort"
                  },
                  {
                    "$ref": "#/components/schemas/CalculatorResultFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportWithS3Url"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Export Calculator Results",
        "tags": [
          "calculator_results"
        ]
      }
    },
    "/app/v1/calculator_results/filters": {
      "get": {
        "operationId": "get_calculator_results_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "$ref": "#/components/parameters/FilterStatus"
          },
          {
            "$ref": "#/components/parameters/FilterCreatedBy"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCalculatorResultFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "List Filter",
        "tags": [
          "calculator_results"
        ]
      },
      "post": {
        "operationId": "post_calculator_results_filter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatorResultFilterInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResultFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Create Filter",
        "tags": [
          "calculator_results"
        ]
      }
    },
    "/app/v1/calculator_results/filters/{filter_id}": {
      "delete": {
        "operationId": "delete_calculator_results_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete Filter",
        "tags": [
          "calculator_results"
        ]
      },
      "put": {
        "operationId": "put_calculator_results_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatorResultFilterUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResultFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Update Filter",
        "tags": [
          "calculator_results"
        ]
      }
    },
    "/app/v1/charts": {
      "post": {
        "operationId": "create_chart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create a chart",
        "tags": [
          "charts"
        ]
      }
    },
    "/app/v1/charts/{id}": {
      "delete": {
        "operationId": "delete_chart",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete a chart",
        "tags": [
          "charts"
        ]
      },
      "get": {
        "operationId": "get_chart",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a chart",
        "tags": [
          "charts"
        ]
      },
      "put": {
        "operationId": "put_chart",
        "parameters": [
          {
            "$ref": "#/components/parameters/ChartId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chart"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update a Chart",
        "tags": [
          "charts"
        ]
      }
    },
    "/app/v1/company_unit_config/search": {
      "post": {
        "operationId": "search_company_unit_config",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/UnitConfigSort"
                  },
                  {
                    "$ref": "#/components/schemas/UnitConfigFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCompanyUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Search company unit configs",
        "tags": [
          "company_unit_config"
        ]
      }
    },
    "/app/v1/company_unit_config/{measurement_type}": {
      "get": {
        "operationId": "get_company_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a company unit config",
        "tags": [
          "company_unit_config"
        ]
      },
      "put": {
        "operationId": "upsert_company_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create or update a company unit config",
        "tags": [
          "company_unit_config"
        ]
      },
      "delete": {
        "operationId": "delete_company_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete a company unit configuration",
        "tags": [
          "company_unit_config"
        ]
      }
    },
    "/app/v1/company_unit_config/filters": {
      "get": {
        "operationId": "get_company_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "List Filter",
        "tags": [
          "company_unit_config"
        ]
      },
      "post": {
        "operationId": "post_company_unit_config_filter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigFilterInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Create Filter",
        "tags": [
          "company_unit_config"
        ]
      }
    },
    "/app/v1/company_unit_config/filters/{filter_id}": {
      "delete": {
        "operationId": "delete_company_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete Filter",
        "tags": [
          "company_unit_config"
        ]
      },
      "put": {
        "operationId": "put_company_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigFilterUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Update Filter",
        "tags": [
          "company_unit_config"
        ]
      }
    },
    "/app/v1/user_unit_config/search": {
      "post": {
        "operationId": "search_user_unit_config",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/UnitConfigSort"
                  },
                  {
                    "$ref": "#/components/schemas/UnitConfigFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUserUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Search user unit configs",
        "tags": [
          "user_unit_config"
        ]
      }
    },
    "/app/v1/user_unit_config/{measurement_type}": {
      "get": {
        "operationId": "get_user_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a user unit config",
        "tags": [
          "user_unit_config"
        ]
      },
      "put": {
        "operationId": "upsert_user_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserUnitConfig"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create or update a user unit config",
        "tags": [
          "user_unit_config"
        ]
      },
      "delete": {
        "operationId": "delete_user_unit_config",
        "parameters": [
          {
            "$ref": "#/components/parameters/MeasurementType"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete a user unit configuration",
        "tags": [
          "user_unit_config"
        ]
      }
    },
    "/app/v1/user_unit_config/filters": {
      "get": {
        "operationId": "get_user_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "List Filter",
        "tags": [
          "user_unit_config"
        ]
      },
      "post": {
        "operationId": "post_user_unit_config_filter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigFilterInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Create Filter",
        "tags": [
          "user_unit_config"
        ]
      }
    },
    "/app/v1/user_unit_config/filters/{filter_id}": {
      "delete": {
        "operationId": "delete_user_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete Filter",
        "tags": [
          "user_unit_config"
        ]
      },
      "put": {
        "operationId": "put_user_unit_config_filter",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitConfigFilterUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitConfigFilterOutput"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Update Filter",
        "tags": [
          "user_unit_config"
        ]
      }
    },
    "/app/v1/users": {
      "post": {
        "operationId": "create_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICreateUserInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IUser"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create a user",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/search": {
      "post": {
        "operationId": "search_users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/UserSort"
                  },
                  {
                    "$ref": "#/components/schemas/UserFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUserList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Search users",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/myself": {
      "get": {
        "operationId": "get_user_myself",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithCompanies"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get the current user info",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/{id}": {
      "get": {
        "operationId": "get_user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IUser"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a user",
        "tags": [
          "users"
        ]
      },
      "put": {
        "operationId": "update_user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUpdateUserInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IUser"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update a user",
        "tags": [
          "users"
        ]
      },
      "delete": {
        "operationId": "delete_user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete a user",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/{id}/groups": {
      "get": {
        "deprecated": true,
        "operationId": "list_user_groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleMembershipWithRole"
                  }
                }
              }
            }
          }
        },
        "summary": "List groups a user belongs to",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/{id}/roles": {
      "get": {
        "operationId": "list_user_roles",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleMembershipWithRole"
                  }
                }
              }
            }
          }
        },
        "summary": "List roles a user belongs to",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/{id}/permissions/decision": {
      "post": {
        "operationId": "get_user_permission_decision",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionDecisionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionDecision"
                }
              }
            }
          }
        },
        "summary": "Check whether a user has been granted permissions",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/users/{id}/permissions": {
      "get": {
        "operationId": "get_user_permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPermissions"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get user permission",
        "tags": [
          "users"
        ]
      }
    },
    "/app/v1/roles": {
      "post": {
        "operationId": "create_role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create a role",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/search": {
      "post": {
        "operationId": "search_roles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/RoleSort"
                  },
                  {
                    "$ref": "#/components/schemas/RoleFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedRoleList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Must be Company member -  Search roles",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/{role_id}": {
      "get": {
        "operationId": "get_role",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Must be Company member - Get a role",
        "tags": [
          "roles"
        ]
      },
      "put": {
        "operationId": "update_role",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update a role",
        "tags": [
          "roles"
        ]
      },
      "delete": {
        "operationId": "delete_role",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete a role",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/{role_id}/members": {
      "get": {
        "operationId": "list_role_members",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleMembershipWithUser"
                  }
                }
              }
            }
          }
        },
        "summary": "Must be Company member - Show Memberships for a role",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/{role_id}/members/{member_id}": {
      "put": {
        "operationId": "add_member",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Add a user to a role",
        "tags": [
          "roles"
        ]
      },
      "delete": {
        "operationId": "remove_member",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Remove a user from a role",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/{role_id}/permissions": {
      "put": {
        "operationId": "update_role_permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOutput"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update role permission",
        "tags": [
          "roles"
        ]
      },
      "get": {
        "operationId": "get_role_permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOutput"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get role permission",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/roles/{role_id}/permissions/{permission_name}": {
      "put": {
        "operationId": "update_single_role_permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          },
          {
            "$ref": "#/components/parameters/PermissionNamePath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SinglePermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsOutput"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update single permission",
        "tags": [
          "roles"
        ]
      },
      "delete": {
        "operationId": "remove_single_role_permission",
        "parameters": [
          {
            "$ref": "#/components/parameters/RoleId"
          },
          {
            "$ref": "#/components/parameters/PermissionNamePath"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Remove single permission",
        "tags": [
          "roles"
        ]
      }
    },
    "/app/v1/user_groups": {
      "post": {
        "operationId": "create_user_group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAndUpdateUserGroupInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create a user group",
        "tags": [
          "user_groups"
        ]
      }
    },
    "/app/v1/user_groups/search": {
      "post": {
        "operationId": "search_user_groups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/UserGroupSort"
                  },
                  {
                    "$ref": "#/components/schemas/UserGroupFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedUserGroupList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Search user groups",
        "tags": [
          "user_groups"
        ]
      }
    },
    "/app/v1/user_groups/{user_group_id}": {
      "get": {
        "operationId": "get_user_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a user group",
        "tags": [
          "user_groups"
        ]
      },
      "put": {
        "operationId": "update_user_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAndUpdateUserGroupInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGroup"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update a user group",
        "tags": [
          "user_groups"
        ]
      },
      "delete": {
        "operationId": "delete_user_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete a user group",
        "tags": [
          "user_groups"
        ]
      }
    },
    "/app/v1/user_groups/{user_group_id}/members": {
      "get": {
        "operationId": "list_user_group_members",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserGroupMembershipWithUser"
                  }
                }
              }
            }
          }
        },
        "summary": "Show Memberships for a user group",
        "tags": [
          "user_groups"
        ]
      }
    },
    "/app/v1/user_groups/{user_group_id}/members/{member_id}": {
      "put": {
        "operationId": "add_user_group_member",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Add a user to a user group",
        "tags": [
          "user_groups"
        ]
      },
      "delete": {
        "operationId": "remove_user_group_member",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserGroupId"
          },
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Remove a user from a user group",
        "tags": [
          "user_groups"
        ]
      }
    },
    "/app/v1/companies": {
      "post": {
        "operationId": "create_company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICreateCompanyWithAdminInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICompany"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Must be System Admin - Create a company",
        "tags": [
          "company"
        ]
      }
    },
    "/app/v1/companies/search": {
      "post": {
        "operationId": "search_companies",
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/CompanySort"
                  },
                  {
                    "$ref": "#/components/schemas/CompanyFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCompanyList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Must be System Admin - Search companies",
        "tags": [
          "company"
        ]
      }
    },
    "/app/v1/companies/{company_id}": {
      "get": {
        "operationId": "get_company",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          },
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICompany"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Must be System Admin or Company member - Get a company",
        "tags": [
          "company"
        ]
      },
      "put": {
        "operationId": "update_company",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUpdateCompanyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICompany"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Must be System Admin - Update a company",
        "tags": [
          "company"
        ]
      },
      "delete": {
        "operationId": "delete_company",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Must be System Admin - Delete a company",
        "tags": [
          "company"
        ]
      }
    },
    "/app/v1/feature_flags/search": {
      "post": {
        "operationId": "search_feature_flags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/FeatureFlagsFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedFeatureFlagsList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Search feature flags",
        "tags": [
          "feature_flags"
        ]
      }
    },
    "/app/v1/feature_flags/{name}": {
      "get": {
        "operationId": "get_feature_flag",
        "parameters": [
          {
            "$ref": "#/components/parameters/FeatureFlagId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a feature flag",
        "tags": [
          "feature_flags"
        ]
      }
    },
    "/app/v1/comments/{comment_id}": {
      "put": {
        "operationId": "update_comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUpdateCommentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IComment"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Update comment",
        "tags": [
          "comments"
        ]
      },
      "delete": {
        "operationId": "delete_comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IComment"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Delete comment",
        "tags": [
          "comments"
        ]
      }
    },
    "/app/v1/comments/{entity_type}/{entity_id}": {
      "get": {
        "operationId": "get_comments",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentEntityType"
          },
          {
            "$ref": "#/components/parameters/CommentEntityId"
          },
          {
            "$ref": "#/components/parameters/CommentAdditionalIdentifier"
          },
          {
            "$ref": "#/components/parameters/CommentCreatedBefore"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IListCommentResponse"
                }
              }
            },
            "description": "Successfully retrieved comments"
          }
        },
        "summary": "List comments for a specific entity",
        "tags": [
          "comments"
        ]
      },
      "post": {
        "operationId": "create_comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentEntityType"
          },
          {
            "$ref": "#/components/parameters/CommentEntityId"
          },
          {
            "$ref": "#/components/parameters/CommentAdditionalIdentifier"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICreateCommentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICommentResponse"
                }
              }
            },
            "description": "Successfully create comment and attach comment to entity"
          }
        },
        "summary": "Create comment",
        "tags": [
          "comments"
        ]
      }
    },
    "/app/v1/comments/count/{entity_type}/{entity_ids}": {
      "get": {
        "operationId": "get_comment_count",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommentEntityType"
          },
          {
            "$ref": "#/components/parameters/CommentEntityIds"
          },
          {
            "$ref": "#/components/parameters/CommentAdditionalIdentifier"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICommentCountResponse"
                }
              }
            },
            "description": "Successfully retrieved comment count"
          }
        },
        "summary": "Count comments",
        "tags": [
          "comments"
        ]
      }
    },
    "/app/v1/company_feature_flags/search": {
      "post": {
        "operationId": "search_all_company_feature_flags",
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/AllCompanyFeatureFlagsFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCompanyFeatureFlagsList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Search all company feature flags",
        "tags": [
          "company_feature_flags"
        ]
      }
    },
    "/app/v1/company_feature_flags/{company_id}/search": {
      "post": {
        "operationId": "search_company_feature_flags",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/CompanyFeatureFlagsFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCompanyFeatureFlagsList"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "Must be Company member - Search company feature flags",
        "tags": [
          "company_feature_flags"
        ]
      }
    },
    "/app/v1/company_feature_flags/{company_id}/{feature_flag_name}": {
      "put": {
        "operationId": "create_company_feature_flag",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFeatureFlag"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Create a company feature flag",
        "tags": [
          "company_feature_flags"
        ]
      },
      "delete": {
        "operationId": "delete_company_feature_flag",
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyId"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagName"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "summary": "Delete a company feature flag",
        "tags": [
          "company_feature_flags"
        ]
      }
    },
    "/app/v1/permissions": {
      "get": {
        "operationId": "list_permissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/PermissionName"
          },
          {
            "$ref": "#/components/parameters/PermissionIsFeatureEnabled"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/Permission"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "List permissions",
        "tags": [
          "permissions"
        ]
      }
    },
    "/app/v1/default_record_value_configurations": {
      "post": {
        "operationId": "upsert_default_record_value_configuration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultRecordValueConfigurationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultRecordValueConfiguration"
                }
              }
            }
          }
        },
        "summary": "Upsert a default record value configuration for an asset",
        "tags": [
          "default_record_value_configuration"
        ]
      }
    },
    "/app/v1/default_record_value_configurations/apply": {
      "post": {
        "operationId": "apply_default_record_value_configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApplyDefaultRecordValueConfigurationDefaultsFilterInput"
                  },
                  {
                    "$ref": "#/components/schemas/OverwriteAllValues"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          }
        },
        "summary": "Apply default record value configurations for a set of year months",
        "tags": [
          "default_record_value_configuration"
        ]
      }
    },
    "/app/v1/default_record_value_configurations/search": {
      "post": {
        "operationId": "search_default_record_value_configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/DefaultRecordValueConfigurationSort"
                  },
                  {
                    "properties": {
                      "filter": {
                        "$ref": "#/components/schemas/DefaultRecordValueConfigurationFilter"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PagedDefaultRecordValueConfigurationsList"
                  }
                }
              }
            }
          }
        },
        "summary": "Search default record value configurations",
        "tags": [
          "default_record_value_configuration"
        ]
      }
    },
    "/app/v1/default_record_value_configurations/{id}": {
      "get": {
        "operationId": "get_default_record_value_configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/DefaultRecordValueConfigurationId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultRecordValueConfiguration"
                }
              }
            },
            "description": "A successful operation"
          }
        },
        "summary": "Get a default record value configuration",
        "tags": [
          "default_record_value_configuration"
        ]
      },
      "delete": {
        "operationId": "delete_default_record_value_configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/DefaultRecordValueConfigurationId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete a default record value configuration",
        "tags": [
          "default_record_value_configuration"
        ]
      }
    },
    "/app/v1/estimation_methods/": {
      "post": {
        "operationId": "bulk_add_estimation_method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BulkAddEstimationMethodToEntitiesRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEstimationMethodsBulkResponse"
                }
              }
            },
            "description": "Successfully Created Estimation Methods in bulk"
          }
        },
        "summary": "Bulk create estimation methods",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/run": {
      "post": {
        "deprecated": true,
        "operationId": "run_estimation_methods",
        "parameters": [
          {
            "$ref": "#/components/parameters/PreviewCalculation"
          },
          {
            "$ref": "#/components/parameters/PromoteCalculation"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatorRunsFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorRunsResponse"
                }
              }
            },
            "description": "Successfully ran estimation method calculations"
          }
        },
        "summary": "Run calculators based on filtered configurations",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v2/estimation_methods/run": {
      "post": {
        "operationId": "run_estimation_methods_v2",
        "parameters": [
          {
            "$ref": "#/components/parameters/PreviewCalculation"
          },
          {
            "$ref": "#/components/parameters/PromoteCalculation"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatorRunsFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorRunsBulkResponse"
                }
              }
            },
            "description": "Successfully ran estimation method calculations"
          }
        },
        "summary": "Bulk run calculators based on filtered configurations",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v2/estimation_methods/run_async": {
      "post": {
        "operationId": "run_async_estimation_methods_v2",
        "parameters": [
          {
            "$ref": "#/components/parameters/PreviewCalculation"
          },
          {
            "$ref": "#/components/parameters/PromoteCalculation"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatorRunsFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorAsyncRunsBulkResponse"
                }
              }
            },
            "description": "Successfully starts an asynchronous job to run estimation method calculations"
          }
        },
        "summary": "Start an asynchronous job to bulk run calculators based on filtered configurations",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/search": {
      "post": {
        "operationId": "search_estimation_methods",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters-Period"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodSort"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEstimationMethodList"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/XLSXResponse"
                }
              }
            },
            "description": "Successfully something"
          }
        },
        "summary": "Search and list Estimation Methods",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/search/configurations": {
      "post": {
        "operationId": "search_estimation_method_configurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Paginated"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodConfigurationSort"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodConfigurationFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEstimationMethodWithConfigurationList"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "$ref": "#/components/schemas/XLSXResponse"
                }
              }
            },
            "description": "Successfully something"
          }
        },
        "summary": "Search and list Estimation Methods with calculator configs and runs",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/export": {
      "post": {
        "operationId": "export_estimation_methods",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EstimationMethodSort"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportWithS3Url"
                }
              }
            },
            "description": "A successful with the link to download report"
          }
        },
        "summary": "Export estimation methods based on search input",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/export/configurations": {
      "post": {
        "operationId": "export_estimation_method_configurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EstimationMethodConfigurationSort"
                  },
                  {
                    "$ref": "#/components/schemas/EstimationMethodConfigurationFilter"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportWithS3Url"
                }
              }
            },
            "description": "A successful with the link to download report"
          }
        },
        "summary": "Search and export Estimation Methods with calculator configs and runs",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}": {
      "post": {
        "operationId": "add_estimation_method",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEstimationMethodToEntityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimationMethodWithEntityInfoResponse"
                }
              }
            },
            "description": "Successfully Added Estimation Method to Entity"
          }
        },
        "summary": "Add Estimation Method to Entity",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}/{id}": {
      "get": {
        "operationId": "get_estimation_method",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/parameters-Period"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimationMethodWithReportingGroupsResponse"
                }
              }
            },
            "description": "Successfully retrieved an estimation event"
          }
        },
        "summary": "Get an estimation method",
        "tags": [
          "estimation_methods"
        ]
      },
      "put": {
        "operationId": "update_estimation_method",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEstimationMethodRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEstimationMethodResponse"
                }
              }
            },
            "description": "Successfully updated an estimation event"
          }
        },
        "summary": "Update an estimation method",
        "tags": [
          "estimation_methods"
        ]
      },
      "delete": {
        "operationId": "delete_estimation_method",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/EstimationMethodId"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful operation"
          }
        },
        "summary": "Delete an estimation method",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}/{id}/runs": {
      "get": {
        "operationId": "list_estimation_method_runs",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "$ref": "#/components/schemas/CalculatorRunsResponse"
                    }
                  ]
                }
              }
            },
            "description": "Successfully return runs for a given estimation method"
          }
        },
        "summary": "List runs for a given estimation method",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}/{id}/configuration/{year_month}": {
      "get": {
        "operationId": "get_estimation_method_configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/YearMonth"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimationMethodConfiguration"
                }
              }
            },
            "description": "Successfully retrieved an estimation method configuration"
          }
        },
        "summary": "Get an estimation method configuration",
        "tags": [
          "estimation_methods"
        ]
      },
      "put": {
        "operationId": "update_estimation_method_configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/YearMonth"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCalculatorConfigurationRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimationMethodConfiguration"
                }
              }
            },
            "description": "Successfully updated an estimation method configuration"
          }
        },
        "summary": "Update an estimation method configuration",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}/{id}/configuration/{year_month}/apply_defaults": {
      "put": {
        "operationId": "apply_defaults_estimation_method_configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/parameters-EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/parameters-YearMonth"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyDefaultsEstimationMethodConfigurationResponse"
                }
              }
            },
            "description": "Successfully set defaults on the calculator configuration"
          }
        },
        "summary": "Re-apply defaults to a calculator configuration",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/configurations/apply_defaults": {
      "put": {
        "operationId": "bulk_apply_defaults_estimation_method_configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "estimation_method_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "year_month": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BulkResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Dictionary of results where the key is {Estimation method ID}_{Year month}",
                          "type": "object",
                          "additionalProperties": {
                            "properties": {
                              "status": {
                                "$ref": "#/components/schemas/BulkItemStatus"
                              },
                              "error": {
                                "type": "string"
                              },
                              "errors": {
                                "type": "array",
                                "description": "List of errors",
                                "items": {
                                  "$ref": "#/components/schemas/CalculationResultError"
                                }
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "estimation_method_id": {
                                    "type": "string",
                                    "format": "UUID"
                                  },
                                  "year_month": {
                                    "type": "string"
                                  },
                                  "calculation_status": {
                                    "$ref": "#/components/schemas/CalculationStatus"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Successfully set defaults on the calculator configurations"
          }
        },
        "summary": "Re-apply defaults to multiple calculator configurations",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/configurations/apply_defaults_async": {
      "post": {
        "operationId": "bulk_apply_defaults_estimation_method_configuration_async",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EstimationMethodConfigurationFilter"
                  },
                  {
                    "properties": {
                      "year_months": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": 202212
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BulkResponse"
                    },
                    {
                      "properties": {
                        "job": {
                          "$ref": "#/components/schemas/Job"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Successfully starts an asynchronous job to set defaults on the calculator configurations"
          }
        },
        "summary": "Start an asynchronous job to re-apply defaults to multiple calculator configurations",
        "tags": [
          "estimation_methods"
        ]
      }
    },
    "/app/v1/estimation_methods/{entity_type}/{id}/configuration/{year_month}/run": {
      "get": {
        "operationId": "get_estimation_method_configuration_run",
        "parameters": [
          {
            "$ref": "#/components/parameters/EstimationMethodEntityType"
          },
          {
            "$ref": "#/components/parameters/EstimationMethodId"
          },
          {
            "$ref": "#/components/parameters/YearMonth"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorRunSourceResponse"
                }
[...]
